<app-count-empleados
  [todos]="totalEmpleados()"
  [femenino]="totalFemenino()"
  [masculino]="totalMasculino()"
  (rbchange)="setRbSelect($event)"
>
</app-count-empleados>

<div class="card mt-3">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Sexo</th>
          <th scope="col">Salario</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let empleado of listEmpleados">
          <tr *ngIf="rbSelect == 'Todos' || rbSelect == empleado.sexo">
            <th>{{ empleado.id }}</th>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.sexo }}</td>
            <td>{{ empleado.salario | currency }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
